{% extends "solicitud_mostrar.html" %}

{% block estado_proxima_accion %}
{% endblock %}

{% block content_title %}Archivar Trabajo Fin de Carrera{% endblock %}

{% block messages %}
<div class="info">
    <h3>Revisión</h3>
    <p>
    Por favor, revise detenidamente toda la información referente a este trabajo y complete los
    campos del formulario al final de la página para archivarlo de manera definitiva.</p>
</div>
{% endblock %}

{% block accion_formulario %}
<form id="form" action="." enctype="multipart/form-data" method="POST">
{% csrf_token %}
<div class="item">
    <div class="messages">
        <div class="warning">
            <h3>Archivar</h3>
            <p>Si desea archivar el trabajo, por favor haga <em>clic</em> en el botón <em>Archivar</em>
            para proceder. Tenga en cuenta que con este paso se da por finalizado el procedimiento sobre este
            trabajo, por lo que una vez realizado ya no se podrá cambiar ningún dato relativo al mismo.</p>
        </div>
    </div>

    {{ f.non_field_errors }}
    <table>
        <tr>
	    <th><label for="id_subject">Tema(*):</label></th>
            <td>{{ f.subject.errors }}{{ f.subject }}</td>
        </tr>
        <tr>
	    <th><label for="id_coverage">Cobertura(*):</label></th>
            <td>{{ f.coverage.errors }}{{ f.coverage }}</td>
        </tr>
        <tr>
            <th><label for="id_rights">Derechos(*):</label></th>
            <td>{{ f.rights.errors }}{{ f.rights }}</td>
        </tr>
    </table>

    <input type="submit" class="button" value="Archivar" />
</div>
</form>
{% endblock %}
