{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta name="copyright" content="Oficina de Software Libre" />
  <meta name="author" content="Oficina de Software Libre - Universidad de La Laguna" />

  {% block layout %}
  <link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ STATIC_URL }}css/new_style.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.8.16.custom.css" />
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico" />
  
  <title>{% block title %}{% endblock %}{% trans 'Repositorio de trabajos fin de carrera' %} - {% trans 'Universidad de La Laguna' %}</title>

  {% block extra_head %}
  {% endblock %}
</head>
<body class="jsOff">
<script type="text/javascript">
  document.body.className = document.body.className.replace('jsOff ','');
</script>
<div id="wrap">

<div id="header">
  <div class="headerleft">
     <a href="/"><img src="{{ STATIC_URL }}images/logo_vicerrectorado.png"></a>
  </div>

  <div class="headerright">
    <a href="/help" title="{% trans 'Ayuda' %}">{% trans 'Ayuda' %}</a>
    {% if user.is_authenticated %}
    <a href="/accounts/logout/" title="{% trans 'Cerrar Sesi&oacute;n' %}">{% trans 'Cerrar Sesi&oacute;n' %} <b> [[ {{ user }} ]] </a></b>
    {% else %}
    <a href="/accounts/login/" title="{% trans 'Inicio de Sesi&oacute;n' %}">{% trans 'Inicio de Sesi&oacute;n' %}</a>
    {% endif %}
   </div>
</div>

{% block body %}
<div id="menu">
  <ul>
    <li><a href="/defensa/">{% trans 'Inicio' %}</a></li>
  </ul>
<!--
	   <div class="langTab">
        <form action="/i18n/setlang/" method="post">
           <input name="next" type="hidden" value="{{ Referrer }}" />
           <select name="language" style="width: 100px;">
           {% for lang in LANGUAGES %}
           <option value="{{ lang.0 }}">{{ lang.1 }}</option>
           {% endfor %}
           </select>
           <input type="submit" value="{% trans 'Ir' %}" />
        </form>
     </div>
-->
</div>
<!--
{% block menu_manager %}
   {% if profile.isManager %}
      <div id="menuManager">
      <div class="langTab">{% trans 'Modo Gestor' %}</div>
      </div>
   {% else %}
   {% if profile.isDirector %}
      <div id="menuManager">
      <div class="langTab">{% trans 'Modo Director' %}</div>
      </div>
   {% else %}
   {% if profile.isExternalAdministrative %}
      <div id="menuManager">
      <div class="langTab">{% trans 'Modo Administrativo Externo' %}</div>
      </div>
   {% else %}
   {% if profile.isInternalAdministrative %}
      <div id="menuManager">
      <div class="langTab">{% trans 'Modo Administrativo Interno' %}</div>
      </div>
   {% endif %}{% endif %}{% endif %}{% endif %}
{% endblock %}
-->

<div id="content">
  <div class="right">
    <div class="messages">
      <noscript>
        <div class="error">Este sitio web necesita JavaScript para funcionar.
          Por favor, actívelo en su navegador y cargue la página de nuevo.
        </div>
      </noscript>
    {% if messages %}
      {% for message in messages %}
      <div class="{{ message.tags }}">{{ message|safe }}</div>
      {% endfor %}
    {% endif %}
    {% block messages %}
    {% endblock %}
    </div>

    <h2>{% block content_title %}{% endblock %}</h2>
    {% block content %}
    {% endblock %}
  </div>

  <div class="left">
    {% block menu %}
    {% endblock %}

    {% if user.is_authenticated %}
    <h2>Fin de carrera</h2>
    <ul>
        <li><a href="/defensa/solicitar/">Solicitar defensa</a></li>
        {%if user.is_tutor %}
            <li><a href="/defensa/autorizar/">Autorizaciones</a></li>
            <li><a href="/defensa/calificar/">Calificar trabajos</a></li>
        {% else %}
            <li>Autorizaciones</li>
            <li>Calificar trabajos</li>
        {%endif%}
        {%if perms.defensa.puede_archivar %}
            <li><a href="/defensa/archivar/">Archivar trabajos</a></li>
        {% else %}
            <li>Archivar trabajos</a></li>
        {%endif%}
    </ul>
    {% else %}
    <h2>Fin de carrera</h2>
    <ul>
        <li><a href="/defensa/solicitar/">Solicitar defensa</a></li>
    </ul>
    {% endif %}

    <h2>{% trans 'Mapa del sitio' %} </h2>
    <ul>
      <li><a href="/defensa/">{% trans 'Inicio' %}</a></li>
    </ul>
  </div>

<div style="clear: both;"> </div>

</div>
{% endblock %}

<div id="footer">
&copy; Copyright 2011 by <a href="http://www.osl.ull.es/">{% trans 'Oficina de Software Libre' %}</a> | <a href="http://www.ull.es/">Universidad de La Laguna</a> 
<a href="http://validator.w3.org/check?uri=referer" title="Validate XHTML code">XHTML 1.0</a> | <a href="http://jigsaw.w3.org/css-validator/" title="Validate CSS code">CSS 2.0</a>
</div>
  </div>

<!-- Piwik
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://webstats.osl.ull.es/" : "http://webstats.osl.ull.es/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://webstats.osl.ull.es/piwik.php?idsite=2" style="border:0" alt="" /></p></noscript>
End Piwik Tag -->
 
</body>
</html>
