{% extends "defensa/base.html" %}

{% block extra_head %}
<script language="javascript" src="{{ STATIC_URL }}js/jquery-1.6.3.min.js"></script>
<script language="javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script language="javascript" src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.16.custom.css" />
<script type="text/javascript">
    $(function() {
        $('#trabajo_vocales tbody tr').formset({
             prefix: '{{ v.prefix }}',
             addText: 'añadir',
             deleteText: 'eliminar',
             extraClasses: ['row1', 'row2', 'row3']
        });
        $('#accordion').accordion({
             active: false,
             collapsible: true,
             autoHeight: false,
             animated: false
        });
    })
</script>
{% endblock %}



{% block content_title %}Calificación trabajo de fin de carrera{% endblock %}
{% block content %}
<div class="item">
    <form action="." enctype="multipart/form-data" method="POST"> 
    {% csrf_token %}
    <table id="trabajo">
    {{ f.as_table }}
    </table>
    <div id="accordion">
      <h3><a href="#">Vocales del tribunal</a></h3>
      <div>
        <table id="trabajo_vocales">
          <thead>
            <tr>
              <th scope="col">Nombre vocal</th>
              <th scope="col">Apellidos vocal</th>
            </tr>
          </thead>
          <tbody>
            {% for form in v.forms %}
            <tr id="{{ form.prefix }}-row">
	      <td>{{ form.nombre.errors }}{{ form.nombre }}</td> 
              <td>{{ form.apellidos.errors }}{{ form.apellidos }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table> 
        {{ v.management_form }} 
      </div>
    <input type="submit" class="button" value="Enviar" />
    </form>
</div>
{% endblock %}
