{% extends "solicitud_mostrar.html" %}

{% block extra_head %}
<script language="javascript" src="{{ STATIC_URL }}js/jquery-1.6.3.min.js"></script>
<script language="javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script language="javascript" src="{{ STATIC_URL }}js/jquery.ui.datepicker-es.js"></script>
<script type="text/javascript">
    $(function() {
        $.datepicker.setDefaults($.datepicker.regional["es"]);
        $( "#id_fecha_defensa" ).datepicker({
                showOn: "both",
                buttonImage: "{{ STATIC_URL }}images/calendar.png",
                buttonImageOnly: true
            });
        });
</script>
{% endblock %}

{% block estado_proxima_accion %}
{% endblock %}

{% block anexos %}
{% endblock %}

{% block content_title %}Calificar Trabajo Fin de Carrera{% endblock %}

{% block messages %}
<div class="info">
    <h3>Calificación</h3>
    <p>
    Por favor, rellene el formulario al final de la página con los  datos referentes
    a la defensa del trabajo fin de carrera y haga <em>clic</em> en el botón
    <em>Calificar</em> para remitir dicha información. Tenga en cuenta que este
    procedimiento debe ser realizado una vez haya tenido lugar la defensa del trabajo
    frente al tribunal.</p>
</div>
{% endblock %}

{% block accion_formulario %}
<form id="form" action="." enctype="multipart/form-data" method="POST">
{% csrf_token %}
<div class="item">
    <h3>Calificación</h3>
    {{ f.non_field_errors }}
    <table>
        <tr>
            <th><label for="id_calificacion_numerica">Calificacion numerica (*):</label></th>
            <td>{{ f.calificacion_numerica.errors }}{{ f.calificacion_numerica }}</td>
        </tr>
        <tr>
            <th><label for="id_calificacion">Calificacion (*):</label></th>
            <td>{{ f.calificacion.errors }}{{ f.calificacion }}</td>
        </tr>
        <tr>
           <th><label for="id_fecha_defensa">Fecha de la defensa (*):</label></th>
           <td>{{ f.fecha_defensa.errors }}{{ f.fecha_defensa }}</td>
        </tr>
    </table>

    <h3>Presidente del tribunal</h3>
    <p><small>Presidente del tribunal encargado de la evaluación del trabajo.</small></p>
    <table>
        <tr>
           <th><label for="id_tribunal_presidente_nombre">Nombre (*):</label></th>
           <td>{{ f.tribunal_presidente_nombre.errors }}{{ f.tribunal_presidente_nombre }}</td>
        </tr>
        <tr>
            <th><label for="id_calificacion_numerica">Apellidos (*):</label></th>
            <td>{{ f.tribunal_presidente_apellidos.errors }}{{ f.tribunal_presidente_apellidos }}</td>
        </tr>
    </table>

    <h3>Secretario del tribunal</h3>
    <p><small>Secretario del tribunal encargado de la evaluación del trabajo.</small></p>
    <table>
        <tr>
           <th><label for="id_tribunal_secretario_nombre">Nombre (*):</label></th>
           <td>{{ f.tribunal_secretario_nombre.errors }}{{ f.tribunal_secretario_nombre }}</td>
        </tr>
        <tr>
            <th><label for="id_tribunal_secretario_apellidos">Apellidos (*):</label></th>
            <td>{{ f.tribunal_secretario_apellidos.errors }}{{ f.tribunal_secretario_apellidos }}</td>
        </tr>
    </table>

    {% for form in v.forms %}
    {% if v.forms|length == 1 %}
    <h3>Vocal del tribunal</h3>
    <p><small>Vocal del tribunal encargado de la evaluación del trabajo.</small></p>
    {% else %}
    <h3>Vocal {{ forloop.counter }} del tribunal</h3>
    <p><small>Vocal {{ forloop.counter }} del tribunal encargado de la evaluación del trabajo.</small></p>
    {% endif %}
    {{ v.management_form }}
    {{ form.non_field_errors }}
	<table>
            <tr>
                <th><label for="id_tribunalvocal_set-{{ forloop.counter0 }}-nombre">Nombre (*):</label></th>
                <td>{{ form.nombre.errors }}{{ form.nombre }}</td>
            </tr>
            <tr>
                <th><label for="id_tribunalvocal_set-{{ forloop.counter0 }}-apellidos">Apellidos (*):</label></th>
                <td>{{ form.apellidos.errors }}{{ form.apellidos }}</td>
            </tr>
	</table>
    {% endfor %}
    <br/>
    <input type="submit" class="button" value="Calificar" />
</div>
</form>
{% endblock %}
