{% extends "base.html" %}
{% load defensatags %}

{% block extra_head %}
<script language="javascript" src="{{ STATIC_URL }}js/jquery-1.6.3.min.js"></script>
<script language="javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script language="javascript" src="{{ STATIC_URL }}js/jquery.pageless.min.js"></script>
<script language="javascript" src="{{ STATIC_URL }}js/jquery-scrolltofixed-min.js"></script>
<script language="javascript" src="{{ STATIC_URL }}js/defensa.js"></script>
<script type="text/javascript">
    $(function() {
        listado("#results", "#busqueda", {{ total_paginas }}, {
            pagelessLoaderMsg: 'Cargando más resultados',
            pagelessLoaderImage: '{{ STATIC_URL }}images/busy.gif'
        });
    })
</script>
{% endblock %}

{% block content_title %}Trabajos que esperan ser {{ estado|siguiente }}s{% endblock %}

{% block content %}
{% if trabajos %}
<div id="busqueda" class="item">
<form action="." enctype="multipart/form-data" method="GET" class="buscar">
    <input id="q" type="text" name="q" {% if q %}value="{{ q }}"{% endif %} title="Buscar" />
    <input type="submit" class="button" value="Buscar" />
</form>
</div>

<div class="item">
{% if total_trabajos > 1 %}
<p>Hay un total de {{ total_trabajos }} trabajos pendientes de ser {{ estado|siguiente }}s.</p>
{% endif %}
{% if total_trabajos == 1 %}
<p>Hay un trabajo pendiente de ser {{ estado|siguiente }}.</p>
{% endif %}
<table id="results" class="listado">
    <tr>
        <th>Alumno</th>
        <th>Título</th>
    </tr>
{% include "lista_trabajo_partial.html" %}
</table>
</div>
{% else %}
<div class="item">
    <p>No hay trabajos pendientes de ser {{ estado|siguiente }}s.</p>
</div>
{% endif %}
{% endblock %}


