{% extends "base.html" %}
{% load defensatags %}

{% block content_title %}Trabajo Fin de Carrera{% endblock %}
{% block content %}
{% include "proyecto_mostrar.html" with proyecto=proyecto %}

<div class="item">
<table>
    <tr>
        <th>Estado:</th>
        <td class="estado">
            <span class="{{ proyecto.estado }}">
                {{ proyecto.pretty_estado }}
            </span>
            {% block estado_proxima_accion %}
            {%if user|can_autorizar_proyecto:proyecto and proyecto.estado == 'solicitado' %}
            (<a href="{{ proyecto.get_absolute_url }}autorizar/">Autorizar defensa</a>)
            {% endif %}
            {%if user|can_calificar_proyecto:proyecto and proyecto.estado == 'autorizado' %}
            (<a href="{{ proyecto.get_absolute_url }}calificar/">Calificar proyecto</a>)
            {% endif %}
            {%if user|can_archivar_proyecto:proyecto and proyecto.estado == 'calificado' %}
            (<a href="{{ proyecto.get_absolute_url }}archivar/">Archivar proyecto</a>)
            {% endif %}
            {% endblock %}
        </td>
    </tr>
    <tr>
        <th>Centro:</th>
        <td>{{ proyecto.centro }}</td>
    </tr>
    <tr>
        <th>Titulación:</th>
        <td>{{ proyecto.titulacion }}</td>
    </tr>

{% if proyecto.estado == 'archivado' %}
    <tr>
        <th>Tema:</th>
        <td>{{ proyecto.subject }}</td>
    </tr>
    <tr>
        <th>Cobertura:</th>
        <td>{{ proyecto.coverage }}</td>
    </tr>
{% endif %}

    <tr>
        <th>Autor:</th>
        <td>{{ proyecto.creator_nombre_completo }}
            <a href="mailto:{{ proyecto.creator_email }}"><span class="ui-icon ui-icon-mail-closed" style="float: left; margin-right: .3em;"></span></a>
            ({{ proyecto.niu }})
        </td>
    </tr>
    <tr>
        <th>Tutor:</th>
        <td>{{ proyecto.tutor_nombre_completo }}
            <a href="mailto:{{ proyecto.tutor_email }}"><span class="ui-icon ui-icon-mail-closed" style="float: left; margin-right: .3em;"></span></a>
        </td>
    </tr>

{% if proyecto.director_nombre_completo %}
    <tr>
        <th>Director:</th>
        <td>{{ proyecto.director_nombre_completo }}</td>
    </tr>
{% endif %}
</table>
</div>

{%if proyecto.estado == 'calificado' or proyecto.estado == 'archivado' %}
<div class="item">
    <h3>Calificación</h3>
    <table>
        <tr>
            <th>Calificacion:</th>
            <td>{{ proyecto.pretty_calificacion_numerica }} ({{ proyecto.pretty_calificacion|upper }})</td>
        </tr>
        <tr>
            <th>Fecha de la defensa:</th>
            <td>{{ proyecto.fecha_defensa }}</td>
        </tr>
        <tr>
            <th>Presidente del tribunal:</th>
            <td>{{ proyecto.tribunal_presidente_nombre_completo }}</td>
        </tr>
        <tr>
            <th>Secretario del tribunal:</th>
            <td>{{ proyecto.tribunal_secretario_nombre_completo }}</td>
        </tr>
        {% for vocal in vocales %}
	<tr>
            {% if vocales|length == 1 %}
            <th>Vocal del tribunal:</th>
            {% else %}
            <th>Vocal {{ forloop.counter }} del tribunal:</th>
            {% endif %}
            <td>{{ vocal.nombre_completo }}</td>
        </tr>
	{% endfor %}
     </table>
</div>
{%endif%}

{% block anexos %}
{% if anexos %}
<div class="item">
    {% for anexo in anexos %}
    {% include "anexo_mostrar.html" with counter=foorloop.counter anexo=anexo %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block accion_formulario %}
{% endblock %}

{% endblock %}
