{% extends "base.html" %}
{% load defensatags %}

{% block content_title %}Trabajo Fin de Carrera{% endblock %}
{% block content %}
{% include "trabajo_mostrar.html" with trabajo=trabajo %}

<div class="item">
<table>
    <tr>
        <th>Estado:</th>
        <td class="estado">
            <span class="{{ trabajo.estado }}">
                {{ trabajo.pretty_estado }}
            </span>
            {% block estado_proxima_accion %}
            {%if user|can_autorizar_trabajo:trabajo and trabajo.estado == 'solicitado' %}
            (<a href="{{ trabajo.get_absolute_url }}autorizar/">Autorizar defensa</a>)
            {% endif %}
            {%if user|can_calificar_trabajo:trabajo and trabajo.estado == 'autorizado' %}
            (<a href="{{ trabajo.get_absolute_url }}calificar/">Calificar trabajo</a>)
            {% endif %}
            {%if user|can_archivar_trabajo:trabajo and trabajo.estado == 'calificado' %}
            (<a href="{{ trabajo.get_absolute_url }}archivar/">Archivar trabajo</a>)
            {% endif %}
            {% endblock %}
        </td>
    </tr>
    <tr>
        <th>Centro:</th>
        <td>{{ trabajo.centro }}</td>
    </tr>
    <tr>
        <th>Titulación:</th>
        <td>{{ trabajo.titulacion }}</td>
    </tr>

{% if trabajo.estado == 'archivado' %}
    <tr>
        <th>Tema:</th>
        <td>{{ trabajo.subject }}</td>
    </tr>
    <tr>
        <th>Cobertura:</th>
        <td>{{ trabajo.coverage }}</td>
    </tr>
{% endif %}

    <tr>
        <th>Autor:</th>
        <td>{{ trabajo.creator_nombre_completo }}
            <a href="mailto:{{ trabajo.creator_email }}"><span class="ui-icon ui-icon-mail-closed" style="float: left; margin-right: .3em;"></span></a>
            ({{ trabajo.niu }})
        </td>
    </tr>
    <tr>
        <th>Tutor:</th>
        <td>{{ trabajo.tutor_nombre_completo }}
            <a href="mailto:{{ trabajo.tutor_email }}"><span class="ui-icon ui-icon-mail-closed" style="float: left; margin-right: .3em;"></span></a>
        </td>
    </tr>

{% if trabajo.director_nombre_completo %}
    <tr>
        <th>Director:</th>
        <td>{{ trabajo.director_nombre_completo }}</td>
    </tr>
{% endif %}
</table>
</div>

{%if trabajo.estado == 'calificado' or trabajo.estado == 'archivado' %}
<div class="item">
    <h3>Calificación</h3>
    <table>
        <tr>
            <th>Calificacion:</th>
            <td>{{ trabajo.pretty_calificacion_numerica }} ({{ trabajo.pretty_calificacion|upper }})</td>
        </tr>
        <tr>
            <th>Fecha de la defensa:</th>
            <td>{{ trabajo.fecha_defensa }}</td>
        </tr>
        <tr>
            <th>Presidente del tribunal:</th>
            <td>{{ trabajo.tribunal_presidente_nombre_completo }}</td>
        </tr>
        <tr>
            <th>Secretario del tribunal:</th>
            <td>{{ trabajo.tribunal_secretario_nombre_completo }}</td>
        </tr>
        {% for vocal in vocales %}
	<tr>
            {% if vocales|length == 1 %}
            <th>Vocal del tribunal:</th>
            {% else %}
            <th>Vocal {{ forloop.counter }} del tribunal:</th>
            {% endif %}
            <td>{{ vocal.nombre_completo }}</td>
        </tr>
	{% endfor %}
     </table>
</div>
{%endif%}

{% block anexos %}
{% if anexos %}
<div class="item">
    {% for anexo in anexos %}
    {% include "anexo_mostrar.html" with counter=foorloop.counter anexo=anexo %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block accion_formulario %}
{% endblock %}

{% endblock %}
