{% extends "base.html" %}
{% load solicitud %}

{% block menu %}
<h2>Acciones:</h2>
<ul>
    {%if user.email == proyecto.tutor_email and proyecto.estado == 'solicitado' %}
    <li><a href="{{ proyecto.get_absolute_url }}autorizar/">Autorizar defensa</a></li>
    {% else %}
    <li>Autorizar defensa</li>
    {% endif %}
    {%if user.email == proyecto.tutor_email and proyecto.estado == 'autorizado' %}
    <li><a href="{{ proyecto.get_absolute_url }}calificar/">Calificar proyecto</a></li>
    {% else %}
    <li>Calificar proyecto</li>
    {% endif %}
    {%if perms.defensa.puede_archivar and proyecto.estado == 'calificado' %}
    <li><a href="{{ proyecto.get_absolute_url }}archivar/">Archivar proyecto</a></li>
    {% else %}
    <li>Archivar proyecto</li>
    {% endif %}
</ul>
{% endblock %}

{% block content_title %}Trabajo Fin de Carrera{% endblock %}
{% block content %}
<h3>{{ proyecto.title }}</h3>
<div class="item">
<p>{{ proyecto.description }}</p><br/>
<p style="text-align: right;">
    <a href="{{ proyecto.get_absolute_url }}contenido/"><span class="icon-download-small" style=""></span>Descargar</a> &#8211; en {{ proyecto.language_detallado }} &#8211;
</p>
</div>

<div class="item">
<table>
    <tr>
        <th>Estado:</th>
        <td class="estado">
            <span class="{{ proyecto.estado }}">
                {{ proyecto.estado_detallado }}
            </span>
        </td>
    </tr>
    <tr>
        <th>Centro:</th>
        <td>{{ proyecto.titulacion.centro }}</td>
    </tr>
    <tr>
        <th>Titulación:</th>
        <td>{{ proyecto.titulacion }}</td>
    </tr>
    <tr>
        <th>Autor:</th>
        <td>{{ proyecto.creator_nombre_completo }}
            <a href="mailto:{{ proyecto.creator_email }}"><span class="ui-icon ui-icon-mail-closed" style="float: left; margin-right: .3em;"></span></a>
            ({{ proyecto.niu }})
        </td>
    </tr>
    <tr>
        <th>Tutor:</th>
        <td>{{ proyecto.tutor_nombre_completo }}
            <a href="mailto:{{ proyecto.tutor_email }}"><span class="ui-icon ui-icon-mail-closed" style="float: left; margin-right: .3em;"></span></a>
        </td>
    </tr>

{% if proyecto.director_nombre_completo %}
    <tr>
        <th>Director:</th>
        <td>{{ proyecto.director_nombre_completo }}</td>
    </tr>
{% endif %}
</table>
</div>

{% block accion_workflow %}
{% endblock %}

{%if proyecto.estado == 'calificado'%}
<div class="item">
    <h3>Datos calificación</h3>
    <table>
      <tr>
	  <th>Calificacion:</th>
	  <td>{{ proyecto.calificacion }}, ({{proyecto.calificacion_numerica}})</td>
      </tr>
      <tr>
	  <th>Fecha defensa:</th>
	  <td>{{ proyecto.fecha_defensa }}</td>
      </tr>
      <tr>
	  <th>Presidente del tribunal:</th>
	  <td>{{ proyecto.tribunal_presidente_nombre_completo }}</td>
      </tr>
      <tr>
	  <th>Secretario del tribunal:</th>
	  <td>{{ proyecto.tribunal_secretario_nombre_completo }}</td>
      </tr>
      {% if vocales %}
	  {% for vocal in vocales %}
	      <tr>
		  <th>Vocal:</th>
		  <td>{{vocal.apellidos}}, {{ vocal.nombre }}</td>
	      </tr>
	  {% endfor %}
      {%endif%}
     </table>
</div>

{%endif%}

{%if proyecto.estado == 'archivado'%}
<div class="item">
    <h3>Datos de archivado</h3>
    <table>
      <tr>
	  <th>Derechos:</th>
	  <td>{{ proyecto.rights }}</td>
      </tr>
      <tr>
	  <th>Idioma:</th>
	  <td>{{ proyecto.language }}</td>
      </tr>
     </table>
</div>

{%endif%}

{% if anexos %}
<div class="item">
    {% for anexo in anexos %}
        <h3>Anexo {{ forloop.counter }}: {{ anexo.title }}</h3>
        <p>{{ anexo.description }}</p><br/>
        <table>
            <tr>
                <th>Tipo de documento:</br>
                    <small>(Puede ser {% tipos_documentos %} )</small></th>
                <td>{{ anexo.type_detallado }}</td>
            </tr>
        </table>

        <p style="text-align: right;">
            <a href="{{ anexo.get_absolute_url }}"><span class="icon-download-small" style=""></span>Descargar</a> &#8211;
            en {{ anexo.language_detallado }} &#8211;
        </p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
