{% extends "subirproyectos/base.html" %}

{% block menu_title %}Menu{% endblock %}
{% block menu %}
    <ul>
	<li><a href="/subirproyectos/solicitar_defensa/">Solicitar defensa</a></li>
	{%if tutor%}
	    <li><a href="/subirproyectos/mostrarlistatutor/">Proyectos por revisar por tutor</a></li>
	    <li>Proyectos por revisar biblioteca</li>
	{%endif%}
	{%if biblioteca%}
	    <li>Proyectos por revisar por tutor</li>
	    <li><a href="/subirproyectos/mostrarlistabiblioteca/">Proyectos por revisar por biblioteca</a></li>
	{%endif%}
    </ul>
    
{% endblock %}