{% extends "subirproyectos/base.html" %}

{% block content_title %}Listado de proyectos por revisar{% endblock %}

{% block content %}

<div class="item">
<p> Proyectos por revisar. Revise los datos de los siguientes proyectos: </p>

{% if proyectos %}
    <table>
    {% for proyecto in proyectos %}
      <tr>
        <td>{{ proyecto.title }}</td>
	<td>{{ proyecto.creator_apellidos}}, {{proyecto.creator_nombre}}<td>
	<td>{{ proyecto.fecha_subido }}<td>
        <td><a href="/subirproyectos/{{ proyecto.id }}/mostrar">{{ proyecto.title }}</a></td>
      </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No hay proyectos disponibles.</p>
{% endif %}


</div>
{% endblock %}