{% extends "subirproyectos/base.html" %}

{% block content_title %}Listado de proyectos por revisar{% endblock %}


{% block content %}

<div class="item">
<p> Proyectos por revisar. Revise la memoria y anexos de los siguientes proyectos: </p>
{% if proyectos %}
    <table>
    {% for proyecto in proyectos %}
      <tr>
        <td>{{ proyecto.title }}</td>
        <td><a href="/subirproyectos/{{ proyecto.id }}/mostrar">Revisar</a></td>
      </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No hay proyectos disponibles.</p>
{% endif %}
<p> Proyectos por ser calificados: </p>
{% if proyectos_por_leer %}
    <table>
    {% for proyecto in proyectos_por_leer %}
      <tr>
        <td>{{ proyecto.title }}</td>
        <td><a href="/subirproyectos/{{ proyecto.id }}/mostrar">Calificar</a></td>
      </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No hay proyectos disponibles.</p>
{% endif %}

</div>
{% endblock %}


