{% extends "subirproyectos/base.html" %}

{% block content_title %}Listado de proyectos por revisar{% endblock %}

{% block content %}

<div class="item">

<p>Revise la memoria y documentos anexos y compruebe que los datos son correctos. En caso de que sean incorrectos modifíquelos.</p>


    <table id = proyecto>
      <tr>
        <td>{{ p.title }}</td>
	<td><a href={{ url_proyecto }}>Descargar</a> <td>
      </tr>
    </table>

    <table id = anexos>
    {% for url in urls_anexos %}
      <tr>
        <td>Anexo</td>
	<td><a href={{ url }}>Descargar</a> <td>
      </tr>
    {% endfor %}
    </table>

<form action="/subirproyectos/revisar/" method="post" enctype="multipart/form-data">
{% csrf_token %}

Nombre del tutor: <input type="text" name= "tutor_nombre" value="{{p.tutor_nombre}}"><br />
Apellidos del tutor: <input type="text" name= "tutor_apellidos" value="{{p.tutor_apellidos}}"><br />

Nombre del director: <input type="text" name= "director_nombre" value="{{p.director_nombre}}"><br />
Apellidos del director: <input type="text" name= "director_apellidos" value="{{p.director_apellidos}}"><br />

<input type="hidden" name="id" value="{{p.id}}">
<input type="submit" value="Aceptar" />
</form>

<form action="/subirproyectos/rechazar/" method="post" enctype="multipart/form-data">
{% csrf_token %}
<input type="hidden" name="id" value="{{p.id}}">
<input type="submit" value="Rechazar" />
</form>

</div>
{% endblock %}