<html>

<head>
<tittle>Mostrando proyecto</tittle>
</head>

<body>
<a href={{ url }}>{{p.title}}</a> 


<form action="/subirproyectos/validar/" method="post" enctype="multipart/form-data">
{% csrf_token %}

Nombre del tutor: <input type="text" name= "tutor_nombre" value="{{p.tutor_nombre}}"><br />
Apellidos del tutor: <input type="text" name= "tutor_apellidos" value="{{p.tutor_apellidos}}"><br />

Nombre del director: <input type="text" name= "director_nombre" value="{{p.director_nombre}}"><br />
Apellidos del director: <input type="text" name= "director_apellidos" value="{{p.director_apellidos}}"><br />

<input type="hidden" name="id" value="{{p.id}}">
<input type="submit" value="Validar" />
</form>

<form action="/subirproyectos/rechazar/" method="post" enctype="multipart/form-data">
{% csrf_token %}
<input type="hidden" name="id" value="{{p.id}}">
<input type="submit" value="Rechazar" />
</form>
</body>

</html>