{% extends "subirproyectos/base.html" %}

{% block extra_head %}
<script language="javascript" src="{{ MEDIA_URL}}js/jquery-1.6.3.min.js"></script>
<script language="javascript" src="{{ MEDIA_URL}}js/jquery-ui-1.8.16.custom.min.js"></script>
<script language="javascript" src="{{ MEDIA_URL}}js/tabbed_formset.js"></script>
<script language="javascript" src="{{ MEDIA_URL}}js/auxiliar.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.8.16.custom.css" />
<style>
#tabs { margin-top: 1em; }
#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
.errortab { color: red !important; }
</style>
<script type="text/javascript">
    $(function() {
        configurarFormularioProyecto("#tabs", "#add_tab",
            "#tabs span.ui-icon-close", {{ a|length }});
    })
</script>
{% endblock %}

{% block content_title %}Solicitud de defensa de Trabajo Fin de Carrera{% endblock %}
{% block content %}
<button id="add_tab">Añadir anexo</button>
<form id="form" action="." enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div id="tabs">
        <ul>
            <li><a href="#tabs-proyecto">Proyecto</a></li>
	    {% for form in a %}
	    <li><a href="#tabs-anexo-{{ forloop.counter }}">Anexo {{ forloop.counter }}</a> <span class='ui-icon ui-icon-close'>Eliminar anexo</span></li>
	    {% endfor %}
        </ul>

        <div id="tabs-proyecto">
            <table>
                {{ f.as_table }}
            </table>
        </div>

	{% for form in a %}
	<div id="tabs-anexo-{{ forloop.counter }}">
	    <table>
		{{ form.as_table }}
	    </table>
	</div>
	{% endfor %}
    </div>

    {% with a.empty_form as form %}
    <div id="anexo-empty-form">
        <table>
            {{ form.as_table }}
        </table>
    </div>
    {% endwith %}

    {{ a.management_form }}
    <input type="submit" class="button" value="Enviar" />
</form>
{% endblock %}
